apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: homeassistant
  namespace: home-assistant
spec:
  defaultBackend:
    service:
      name: home-assistant
      port:
        number: 8080
  ingressClassName: tailscale
  tls:
    - hosts:
        - homeassistant

